{% extends "index.html" %}

{% block title %}{{ user.name }} {{ user.surname }}{% endblock %}

{% block content %}
    <h1>Hello {{ user.name }} {{ user.surname }}!</h1>

    <button type="submit" name="logout">Log out</button>
{% endblock %}